<h1>Privacy Policy</h1>
<p>
  Our privacy policy is very careful with the privacy of the user.<br>
  SmartCrop protects the information of the user under the following concepts:
  <ul>
    <li>The information sent by the user will be protected and will be only used for statistics keeping the data private without linking the user directly.</li>
    <li>We will never ask for information that is unnecessary.</li>
  </ul>
  In SmartCrop we respect your privacy and we pledge with the security of the information sent by using our services.<br>
  SmartCrop is maintained and operated by:<br>
  LightUp<br>
  Vicuña Mackenna 3939, Santiago, San Joaquín, Región Metropolitana
</p>

<h2>What information about me is collected SmartCrop and how it is used?</h2>
<p>
  SmartCrop only collects personal data from you only if you choose to do so. SmartCrop only uses the QR codes used to link the pot with the user’s account, but does not save the images that the user takes when camera is on.<br>
  Our systems save the Protocol of Internet (IP), data from your browser and date of all your activities only for statistics usage and protection to ensure the integrity of the information from our users.<br>
  SmartCrop will only share your information with third party if:
  <ul>
    <li>SmartCrop has your concern.</li>
    <li>SmartCrop determines what you are required to do; for example, in response to a court decision or citation;</li>
    <li>SmartCrop discover that you have breached the terms and conditions or any of its policies or usage guidelines for specific products or services;</li>
    <li>SmartCrop believes that it is necessary to do so for the purpose of avoiding, investigating, detecting or prosecuting a criminal offense or attacks on the technical integrity of the Site or the SmartCrop Network!;</li>
    <li>SmartCrop Believes that it is necessary to do so in order to protect the rights, property or safety of SmartCrop or its employees, users of its websites or the public; or,</li>
    <li>you need to fulfill your order for a product or service. SmartCrop Use a company to process your credit card information, as required by your order, and to ensure that the transaction is secure. This processing company does not retain, share, store or use your personally identifiable information for any other purpose.</li>
  </ul>
</p>

<h2>What can I do if my personal information has change?</h2>
<p>If you need to change, modify or delete the information sent that is not accurate, make contact with SmartCrop at lightup.utfsm@gmail.com. SmartCrop will answer in 7 to 10 work days.</p>

<h2>Changes in our Privacy Policy</h2>
<p>If LightUp make changes in the terms and conditions of this Privacy Policy, this changes will be available in smartcrop.lightup.cl/privacy right the way. If SmartCrop choose to change this Privacy Policy, we will publish the changes on this Privacy Policy and in other places that SmartCrop thinks that is suitable SmartCrop reserves the right to modify this Privacy Policy any time. For your convenience, check this page frequently.</p>

<h2>Terms of use</h2>
<p>While SmartCrop continues working hard to protect your personal data, we can’t guarantee that any transmission by internet is completely safe, and SmartCrop can’t ensure or guarantee the security of the information that you send to SmartCrop by using your networks. The transmission of personal data goes by your own risk.</p>

<h2>Contact Us!</h2>
<p>In LightUp we will love to hear about you. Feel free to contact us at lightup.utfsm@gmail.com to keep in touch!</p>
